<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
    <title>Образовательная платформа</title>
    <partial Name="Partial/_Styles"/>
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    
    <partial Name="Partial/_Header" />
    @*@await Html.PartialAsync("Partial/_Header")*@
    <partial Name="Partial/_Footer" />
    <partial Name="Partial/_Scripts" />

    
    @RenderBody();
    
    

   

</body>
</html>
