<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">

<p>Для выбранного предмета в данном уроке нет подхядящих учеников.</p>
<p>Пожалуйста, внесите изменения в графе изучаемых предметов в разделе "Ученики".</p>

    <div>
        <a asp-controller="Student" asp-action="Index">Перейти в раздел учеников</a>
    </div>

</div>