<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                <h4>Контакты</h4>
                <p class="text">Вы можете связаться с нами!</p>
                <p><a href="tel:+902222222222"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +79027433245</a></p>
                <p><a href="mailto:iletisim@agrisosgb.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> easyexam@gmail.com</a></p>
            </div>
        </div>
    </div>
</footer>