<div id="top_bar_black">
    <div id="logo_container">
        <div id="logo_image"> </div>  <div id="nav_block">
            <div class="nav_button">Home </a></div>
            <div class="nav_button"> Contact</div>
            <div class="nav_button"> About</div>
            <div class="nav_button"> Links</div>
            <div class="nav_button"> Services </div>
        </div>
    </div>
</div>
