
<div id="top_bar_black">
    <div id="logo_container">
        <div id="logo_image">
        </div>
        <div id="nav_block">
            <div class="nav_button">
                <a asp-controller="Home" asp-action="Index">Главная</></a>
            </div>
            <div class="nav_button">
                <a asp-controller="Student" asp-action="Index">Ученики</></a>
            </div>
            <div class="nav_button">
                <a asp-controller="Teacher" asp-action="Index">Преподаватели</></a>
            </div>
            

        </div>
    </div>
</div>


